

body{
   background-color: black; 
}

.logo{
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
padding: 0%;



}
.container-img{
    display: flex;
    margin-top: 15px;
    width: 69.6%;
    margin-left: 16.7%;
     
}
   .navbar{
   background:linear-gradient( to left , #2805ec, #c903fa );
  
   }
.navbar-brand {

    color: #faf5f5; 
    }
 .nav-link{
    color: #fcf8f8;
}


.btn{
    color:#fbfcfd;
    background:linear-gradient( to left , #ec058c, #0a0a0a );
}

.nav-link.disabled {
 color: #00050a;}
 
.row{
    padding-top: 5px;
}
.container-img-2{
   padding-top: 2px;
   margin-top: 10px;
   width: 69.6%;
   margin-left: 15.5%;
    
}
.nome-filme{
margin-top: 8px;
background: #5f0202fb;
}
.efeito:hover{
    transition-duration: 1s;
    transform: scale(1.2 , 1.2);
}
.efeitoCont{
    transition-duration: 1s;
}
.footer{
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    padding: 5px;
   
}
.footer a{
   color:#fff;
   text-decoration: none;
   }
   .button{
    padding: 5px 10px;
    background:linear-gradient( to left , #222122, #4b03f5 );
    border:none;
    appearance: button;
    border-radius: 10px;
    margin-top: 5px;
  }
  .nomes-alunos{
    font-size: large;
      }
      .nome-aplicacao{
        color: #ec0505;
      }